.goal-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 1rem;
    color: #000;
    text-align: center;
}

.content {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* width: 100vw; */
    /* margin: 0 5%; */
    flex-direction: row-reverse;
    align-items: center;
    gap: 3rem;
}

.text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #4e4d4d;
}

.logo {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    max-width: 400px;
    /* width: 411px; */
}

.goal-wrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media only screen and (max-width: 768px) {
    .goal-title {
        font-size: 3rem;
        text-align: center;
        margin: 0;
    }
    .content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .logo {
        aspect-ratio: 1/1;
        width: 50%;
    }
    .text {
        font-size: 1rem;
        line-height: 1.5;
        margin: 0;
        & p {
            margin-top: 0;
        }
    }
}
