.goal-title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 96px;
	margin: 0 5%;
	color: #000;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* width: 100vw; */
	margin: 0 5%;
}

.text {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 47px;
	color: #4e4d4d;
	margin-right: 108px;
}

.logo {
	width: 411px;
}
