.heroImg {
	position: absolute;
	z-index: -2;
	width: 80%;
	top: -20%;
}

.hero {
	text-align: right;
	width: 55%;
	margin-left: auto;
	margin-right: 5%;
	height: calc(100vh - 104px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.title {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 6rem;
	line-height: 108px;
	color: #449601;
	margin: 0;
}

.subtitle {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 3rem;
	line-height: 60px;
	text-align: right;
	color: #4e4d4d;
	/* margin: 0; */
}

.cta {
	color: #449601;
	border: 1px solid #449601;
	padding: 1rem 2rem;
	background-color: #f9f8f6;
	font-size: 1.5rem;
	border-radius: 10px;
	transition: all 0.3ms ease-in;
	width: fit-content;
}

.cta:hover {
	background-color: #449601;
	color: #fff;
	transition: all 0.3ms ease-in;
	cursor: pointer;
}
